<section class="login-container">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h2 class="text-center mb-4">Login</h2>

          <div class="mb-3">
            <label for="nome" class="form-label">Nome *</label>
            <input
              pattern="[a-zA-Z ]*"
              type="nome"
              formControlName="nome"
              class="form-control"
              id="nome"
              placeholder="Digite seu nome"
            />
            @if (
              loginForm.get("nome")?.hasError("required") &&
              loginForm.get("nome")?.touched
            ) {
              <div class="alert alert-danger" role="alert">
                Informe o nome do usuário
              </div>
            }
            @if (loginForm.get("nome")?.hasError("pattern")) {
              <div class="alert alert-danger" role="alert">
                Digite apenas letras
              </div>
            }
          </div>

          <div class="mb-3">
            <label for="senha" class="form-label">Senha *</label>
            <input
              type="password"
              class="form-control"
              formControlName="senha"
              id="senha"
              placeholder="Digite sua senha"
            />
            @if (
              loginForm.get("senha")?.invalid && loginForm.get("senha")?.touched
            ) {
              <div class="alert alert-danger" role="alert">Informe a senha</div>
            }
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="loginForm.invalid || spinnerAguardando"
          >
            @if (spinnerAguardando) {
              <button class="btn btn-primary" type="button" disabled>
                <span
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"
                ></span>
                <span role="status">Entrando...</span>
              </button>
            } @else {
              <span>Entrar</span>
            }
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
