<section class="login-container">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h2 class="text-center mb-4">Login</h2>

          <div class="mb-3">
            <label for="email" class="form-label">Nome</label>
            <input
              type="nome"
              formControlName="nome"
              class="form-control"
              id="email"
              placeholder="Digite seu e-mail"
            />
          </div>

          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              formControlName="senha"
              id="senha"
              placeholder="Digite sua senha"
            />
          </div>

          <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</section>

