section {
  background-image: url("/tela_login_ford.png");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding-right: 0% !important;
}

app-login-form {
  display: block;
  width: 100%;
  max-width: 65% !important;
}

@media (max-width: 992px) {
  section {
    padding-right: 0 !important;
    justify-content: center;
    background-position: 17%;
  }

  app-login-form {
    max-width: 100% !important;
    padding: 15px;
  }
}
