<div class="d-flex">
  <div class="offcanvas-md offcanvas-start bg-dark text-white sidebar-fixa" 
       tabindex="-1" 
       id="sidebarMenu" 
       aria-labelledby="sidebarMenuLabel">
    
    <div class="offcanvas-header border-bottom border-secondary">
      <h5 class="offcanvas-title text-white fw-bold" id="sidebarMenuLabel">Sistema Ford</h5>
      <button type="button" class="btn-close btn-close-white d-md-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Fechar"></button>
    </div>

    <!-- Links de Navegação -->
    <div class="offcanvas-body d-flex flex-column p-0">
      <ul class="nav nav-pills flex-column mb-auto p-3 w-100">
        <li class="nav-item mb-2">
          <a routerLink="/home" routerLinkActive="active" class="nav-link text-white d-flex align-items-center gap-2">
            <span>🏠</span> Home
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white d-flex align-items-center gap-2">
            <span>📊</span> Dashboard
          </a>
        </li>
      </ul>
      
      <div class="p-3 border-top border-secondary mt-auto nav-item-btn">
        <button (click)="logout()"  class="btn btn-danger w-100 d-flex align-items-center justify-content-center gap-2">
            <span>🚪</span> Sair
        </button>
      </div>

      <picture class="container-logo">
        <img class="img-logo" src="logoFord.png" alt="logoFord">
      </picture>
    </div>
  </div>

  <div class="flex-grow-1 min-vh-100 bg-light p-4" id="main-content">
    <!-- Botão de Hambúrguer (Só aparece e controla o menu em telas menores que MD) -->
    <button class="btn btn-dark d-md-none mb-3 d-flex align-items-center gap-2 btn-menu-hamburguer" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#sidebarMenu" 
            aria-controls="sidebarMenu">
      <span>☰</span> Menu
    </button>
    <router-outlet></router-outlet>
  </div>
</div>